* {
  font-family: 'Courier New', Courier, monospace;
}

.header { grid-area: header; }
.menu-bar { grid-area: menu; }
.page-content { grid-area: nosotros;}
.page-content { grid-area: empresarial;}
.page-content { grid-area: judicial;}
.page-content { grid-area: personal;}
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'nosotros'
    'empresarial'
    'judicial'
    'personal'
    'footer';
  gap: 10px;
  background-color: #78797a;
  color: black;
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}